.result{
    color: #aa0000;
}
.pre-like{
    padding: 8px 12px;
    font-size: 16px;
    overflow-wrap: break-word;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
}
.pre-like-code{
    padding: 8px 12px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border: 2px solid #ccc;
    border-radius: 12px;
    -webkit-overflow-scrolling: touch;
}
.label{
    margin-top: 3px;
}
.stopped{
    color: #aa0000;
}
.processing{
    color: #00aa00;
}
.waiting{
    color: #ffaa00;
}
.result-pass{
    background-color: #55ff55;
    color: #ffffff;
}
.result-fail{
    background-color: #ff5555;
    color: #ffffff;
}
.result-testing{
    background-color: #ddd605;
    color: #ffffff;
}
.simple{
    margin-left: 3px;
}
.sep{
    margin-left: 6px;
}
.no-border{
    border: none;
}
.right{
    float: right;
}
.middle{
    vertical-align: middle;
}
.mb {
    margin-bottom: 12px !important;
}
.mt {
    margin-top: 12px !important;
}
.ml {
    margin-left: 12px !important;
}
.centered {
    text-align: center;
}
.big-number{
    font-size: 40px;
}
@media (min-width: 1024px){
    .same-height-container {
        display: flex !important;
    }
    .same-height-box {
        display: flex !important;
    }
    .same-height-box div {
        flex: 1 !important;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        min-width: 0;
    }
}
.bottom-line{
    border-bottom: 2px solid #ddd;
    padding: 12px 16px;
}
.thin{
    font-weight: 400 !important;
}
.gray{
    color: #777 !important;
}
.icon-btn{
    padding: 0px 4px !important;
}
.icon-btn2{
    padding: 8px 8px !important;
}
.icon-btn3{
    padding: 10px 10px !important;
}
.mc{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.tabler-icon{
    transform: translateY(-0.07em);
}
.marked-emoji-img{
    width: 24px;
    height: 24px;
    vertical-align:text-bottom;
}
.lleft{
    margin-left: .5em;
}
.music-tag {
    margin: 2px;
    padding: 0 7px;
    cursor: pointer;
    display: inline-block;
}
.bt{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}
.mc2 svg{
    vertical-align: middle;
}
.mc2 span{
    vertical-align: middle;
}
.popup-panel{
    background: #ffffff;
}
.comments-card{
    border: 3px solid #f1f1f1;
}
.spoilers-bg{
    background: #000;
}
.wux-card.wux-card-flat.comments-card {
    background: transparent;
    border: 3px solid #f1f1f1;
}
.music-title-link,
.wux-typo a.music-title-link {
    color: #000;
    text-decoration: none;
}
.music-title-link:hover,
.wux-typo a.music-title-link:hover {
    color: #000;
    text-decoration: underline;
}
@media (prefers-color-scheme: dark) {
    .pre-like,
    .pre-like-code{
        border-color: #555;
        background-color: #242424;
        color: #f2f2f2;
    }
    .bottom-line{
        border-bottom-color: #444;
    }
    .gray{
        color: #aaa !important;
    }
    .popup-panel{
        background: #242424;
    }
    .music-title-link,
    .wux-typo a.music-title-link {
        color: #f2f2f2;
        text-decoration: none;
    }
    .music-title-link:hover,
    .wux-typo a.music-title-link:hover {
        color: #f2f2f2;
        text-decoration: underline;
    }
    .comments-card{
        border-color: #333;
    }
    .spoilers-bg{
        background: #f2f2f2;
    }
}
body[dark-mode] .pre-like,
body[dark-mode] .pre-like-code{
    border-color: #555;
    background-color: #242424;
    color: #f2f2f2;
}
body[dark-mode] .bottom-line{
    border-bottom-color: #444;
}
body[dark-mode] .gray{
    color: #aaa !important;
}
body[dark-mode] .popup-panel{
    background: #242424;
}
body[dark-mode] .music-title-link,
body[dark-mode] .wux-typo a.music-title-link {
    color: #f2f2f2;
    text-decoration: none;
}
body[dark-mode] .music-title-link:hover,
body[dark-mode] .wux-typo a.music-title-link:hover {
    color: #f2f2f2;
    text-decoration: underline;
}
body[dark-mode] .comments-card{
    border-color: #333;
}
.spoilers-bg[dark-mode]{
    background: #f2f2f2;
}